#webform {
  background-color: var(--form-background-color);
}

#form-section,
#form-summary {
  background-color: var(--info-background-color);
  padding: 0;
}
#form-summary h2 {
  line-height: 3rem;
  text-align: center;
  background-color: var(--headline-bg-color-inverted);
  color: var(--headline-color-inverted);
  padding-top: 5px;
}
#form-summary h3 {
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
#form-summary > *:not(:first-child) {
  margin: 0 clamp(1rem, 10%, 7rem);
}
#form-summary p {
  font-size: 0.8rem;
  line-height: 1.3;
  margin: 0 0 1.2rem 0;
  padding: 0;
}
input {
  border: 2px solid #fceb94;
  background-color: #fffae2;
  padding: 0.25rlh;
  border-radius: 6px;
  box-shadow: 0px 1px 2px #e2eaff;
}

button {
  border: 1px solid #ff4b00;
  background-color: #ff4b00;
  color: #fff;
  border-radius: 6px;
  padding: 0.25rlh 0.5rlh;
  cursor: pointer;
}

.error-message {
  color: darkred;
}

form {
  display: grid;
  gap: 1rlh;
  padding: 1rlh;

  .form-group {
    display: grid;
    gap: 0.1rlh;
  }

  label:has(input) {
    display: flex;
    align-items: center;
    gap: 0.25rlh;
    justify-self: start;
  }
}

:focus-visible {
  outline: 2px solid #6f90eb;
  outline-offset: 1px;
}

button:hover {
  background: #ff0000;
}

button:active {
  scale: 0.98;
}

.error-message {
  display: none;
}
.form-group:has(:required) {
  label::after {
    content: " *";
    color: red;
  }
}

.form-group:has(:user-invalid) {
  input {
    outline: 3px solid #f005;
    border-color: darkred;
  }

  .error-message {
    display: block;
  }
}

section {
  display: grid;
  gap: 1rlh;
  align-content: start;
}

.output div {
  background: #ffffff;
  padding: 1rlh;
  border-radius: 6px;
  display: grid;
  gap: 0.5rlh;
}
